[Desktop Entry]
Version=1.0
Type=Application
Name=Microsoft Teams - Preview
Comment=Microsoft Teams for Linux is your chat-centered workspace in Office 365.
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=teams --file-forwarding com.microsoft.Teams @@u %U @@
Icon=com.microsoft.Teams
Terminal=false
StartupNotify=true
StartupWMClass=Microsoft Teams - Preview
Categories=Network;
MimeType=x-scheme-handler/msteams;
X-KDE-Protocols=teams
Actions=QuitTeams;
X-GNOME-UsesNotifications=true;
X-Desktop-File-Install-Version=0.26
X-Flatpak-Tags=proprietary;
X-Flatpak=com.microsoft.Teams
X-XFCE-Source=file:///var/lib/flatpak/exports/share/applications/com.microsoft.Teams.desktop

[Desktop Action QuitTeams]
Name=Quit Teams
Name[en]=Quit Teams
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=teams com.microsoft.Teams --quit
OnlyShowIn=Unity;
