[Desktop Entry]
Version=1.0
Type=Application
Name=Microsoft Teams
Comment=
Exec=teams %U
Icon=teams
Path=
Terminal=false
StartupNotify=true
X-XFCE-Source=file:///root/Desktop/Microsoft%20Teams.desktop
