[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
Exec=firefox %u
Icon=firefox
Terminal=false
StartupNotify=false
X-XFCE-Source=file:///root/Desktop/Firefox.desktop
