#Nam - 20210512
#Kickstart install for CentOS
# https://docs.centos.org/en-US/centos/install-guide/Kickstart2/
#
#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $6$VAHrZyLiQkmZ6G5Z$aLJC1OTU.wc4J6B9sl.z2hwUSWgiU5.9Zyc/QiGdQeiwZGNtCN7vxgJROAYXM4Q5j9nKd.4mD4Z3w6RpBTu7Z0
# Create User
#user --name=Client --password=user123
# System language
lang en_US
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
firstboot --disable
# SELinux configuration
selinux --enforcing
# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Firewall configuration
firewall --disabled
# Reboot after installation
reboot
# System timezone
timezone America/Toronto
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all
#Ignore USB
ignoredisk --drives=/dev/disk/by-path/*usb*
# Disk partitioning information
part /boot --asprimary --fstype="ext4" --size=512
part / --asprimary --fstype="ext4" --grow --size=1

#Minimal Install
%packages
@base
@core
%end

#Mounts USB, grabs files and sets cronjob to run script at boot
%post --nochroot --interpreter=/usr/bin/bash
mkdir /mnt/sysimage/mnt/kickstart
mkdir /mnt/sysimage/tmp/ks
mount --uuid 4686-4E2E /mnt/sysimage/mnt/kickstart
cp -r /mnt/sysimage/mnt/kickstart/. /mnt/sysimage/tmp/ks/.
umount /mnt/sysimage/mnt/kickstart/ /mnt/sysimage/root/.
echo "@reboot /tmp/ks/script.sh" >> /mnt/sysimage/var/spool/cron/root
%end