[Desktop Entry]
Version=1.0
Type=Application
Name=RDP
Comment=
Exec=remmina-file-wrapper %U
Icon=org.remmina.Remmina
Path=
Terminal=false
StartupNotify=true
X-XFCE-Source=file:///root/Desktop/RDP.desktop
